{% extends '../../flaskProject3/templates/base.html' %}
{% block content %}

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum tempus luctus. Aenean vitae dolor ante. Sed id urna sit amet lacus eleifend egestas. Cras nibh risus, condimentum ac tempor quis, convallis vitae nulla. Aliquam sit amet consequat justo. Mauris vel sollicitudin neque. Nulla dapibus tortor id hendrerit condimentum. Phasellus congue dolor sit amet lectus placerat, sed fringilla neque efficitur. Cras lobortis non felis nec vulputate. Nunc elementum purus ex, sed semper metus facilisis eu. Aliquam bibendum, velit a efficitur rhoncus, justo lectus tempus justo, lobortis aliquet leo augue a arcu. Sed rhoncus consequat odio id porttitor. Nunc rhoncus pharetra nulla quis dapibus. Aliquam ut pulvinar nisl. Nulla nec nulla dictum, aliquam turpis a, elementum sapien.
                </p>
                <p>
                    Suspendisse dapibus justo non est facilisis dictum. Quisque fermentum vestibulum dolor vel facilisis. Vestibulum ut erat semper, tristique sem nec, egestas magna.
                </p>
            </article>

            <aside id="sidebar">
                    <h3>What We Do</h3>
                    <p>
                        Suspendisse dapibus justo non est facilisis dictum. Quisque fermentum vestibulum dolor vel facilisis. Vestibulum ut erat semper, tristique sem nec, egestas magna. Mauris eu auctor mauris. Nulla lacus ligula, efficitur at rutrum eu, efficitur sit amet neque. Etiam eget varius neque. Nam bibendum arcu vitae porta aliquet. Sed ut sodales ex. Aliquam convallis, arcu in finibus volutpat, libero tortor vulputate tortor, quis sodales ante dolor quis magna. Sed sit amet nisi in ante mollis pharetra elementum et ex.
                    </p>
            </aside>
        </div>
    </section>

{% endblock %}