<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/css.css') }}">

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="japanese domestic market, fun page">
    <meta name="keywords" content="JDM, JDM is life, japanese domestic market, JDM anime walppaper">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/style.css">
    <title>JDM Hub</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">japanese</span> Domestic Market</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/singin">SingIn</a></li>
                    <li><a href="/login">Login</a> </li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>japanese Domestic Market Web deisgn, Copyraight &copy; 2022</p>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>