{% extends'../../flaskProject3/templates/base.html' %}
{% block content %}

    <section id="showcase">
        <div class="container">
            <h1>japanese Domestic Market</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi condimentum velit sollicitudin ultricies tempus. Praesent et mi a tellus varius finibus.
            </p>
        </div>
    </section>

    <section id="newslatter">
        <div class="container">
            <h1>Subscribe for Support!</h1>
        </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="./img/html5 markup.png">
                <h3>HTML5 Markup</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi condimentum velit sollicitudin ultricies tempus. Praesent et mi a tellus varius finibus.
                </p>
            </div>

            <div class="box">
                <img src="./img/css.png">
                <h3>CSS Markup</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi condimentum velit sollicitudin ultricies tempus. Praesent et mi a tellus varius finibus.
                </p>
            </div>

            <div class="box">
                <img src="./img/graphic.png">
                <h3>Graphic Markup</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi condimentum velit sollicitudin ultricies tempus. Praesent et mi a tellus varius finibus.
                </p>
            </div>
        </div>
    </section>

{% endblock %}